<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <!-- Link to your CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <!-- Header (optional) -->
  <header>
  <div class="banner"><h1>Astrophaella</h1></div>
  <nav>
    <a href="{{ '/index.html' | relative_url }}">Home</a>
    <a href="{{ '/astrophotog/astrophotography.html' | relative_url }}">Astrophotography</a>
    <a href="{{ '/about/outreach.html' | relative_url }}">Outreach</a>
    <a href="{{ '/equipment.html' | relative_url }}">Equipment</a>
    <a href="{{ '/about/contact.html' | relative_url }}">Contact</a>
  </nav>
</header>

  <!-- Main content -->
  <main>
    {{ content }}
  </main>

  <!-- Footer (optional) -->
  <footer>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </footer>
</body>
</html>

